@font-face {
    font-family: 'VCR_OSD_MONO_1';
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');
}

body {
        background-color:black;
    color: green;
    font-family:'VCR_OSD_MONO_1', sans-serif;
}

.2style {
  .2style {
    font-family:'VCR_OSD_MONO_1'
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background: none;
    color:#ffffff;
    cursor: pointeh1
    <div class="background-image"pointeh1
  }
  </style>
}